<div class="topnav">
        <a class="active" href="#home">Home</a><br>
        <a href="https://github.com/ngishjonathan?tab=repositories">Repositories</a>
       

      </div>
 <form>
    <div class="container-fluid">
        <div class="row">
            <div class="form-group">
                <input type="text" name="sesarchUser" [(ngModel)]="searchUsers" placeholder="search" id="search">
                <button type="submit" (click)="githubSearch()" class="btn btn-success btn-sm">Search</button>
            </div>
        </div>
    </div>
</form>

<div *ngIf="users">
    <img src="{{users.avatar_url}}" alt="">
    <p>
        Username:
        {{users.login}}
    </p>
    <p>
        Bio:
        {{users.bio}}
    </p>
    <p>
        Repos:
        {{users.public_repos}}
    </p>
</div>
